name: Release
on:
  push:
    tags: ['*']

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Release to NPM
        run: |
          npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
          echo "The version is: ${REF:10}"
          npm version --no-git-tag-version ${REF:10}
          npm publish
        env:
          CI: true
          NPM_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
          REF: ${{ github.ref }}
